body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1cccc;
}

/* landing page */

.callout-container {
    height: 100vh;
    background: url("../images/canada-landing-page.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    margin-top: 30px;
    color: #fafafa;
}

.jumbotron-header {
    font-size: 35px;
    color: #fafafa;
    text-shadow: 5px 5px 10px black;
}

.lead {
    margin-top: 30px;
    color: #de5858;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

.about-me {
    color: #fafafa;
    text-shadow: 5px 5px 10px black;
}

.about-me-text {
    color: black;
}


/* /landing page */

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color: #ff0000;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-nav {
    letter-spacing: 2px;
}

.jumbotron-header {
    font-weight: 500;
}

/* /navbar */

/* seasonal */

.title-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.container-subheading {
    display: flex;
    justify-content: center;
    position: relative;
}

.img-fluid {
    width: 100vh;
    height: 65vh;
    border-radius: 20px;
}

.flag-picture {
    width: 90vh;
    height: 65vh;
    border-radius: 20px;
    margin-top: 90px
}


.icon {
    color: #e82e2e;
    padding: 10px;
    transition: all 0.3s ease 0s;
}

.icon:hover {
    color: #f59e42;
}

.season-title {
    padding: 0 0 20px 0;

}

.season-section {
    font-size: 18px;
    padding: 10px;
}







/* /seasonal */

/* Footer */

.footer {
    background-color: #ff0000;
    color: #fafafa;
    float: right;
}

.ml-auto {
    float: right;
}

/* /footer */

/* media queries */

/* mobile devices */

@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* /media queries */

.title {
    color: #fafafa;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: red;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

.extra-info {
    color: red;
}

.card, .card-reader {
    background-color: transparent;
    border: none !important;
    padding: 0;
    margin-bottom: 20px;
}