@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1cccc;
}

a:hover {
    text-decoration: none;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color: #ff0000;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-nav {
    letter-spacing: 2px;
}


/* /navbar */

/* landing page */

.callout-container {
    height: 100vh;
    background: url("../images/canada-landing-page.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;

    display: flex;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    margin-top: 30px;
}

.jumbotron-header {
    font-size: 40px;
    color: #000;
    font-weight: 900;
}

.lead {
    margin-top: 30px;
    color: #000;
    font-weight: 700;
    font-size: 25px;
}

.about-me {
    color: #fafafa;
}

.about-me-text {
    color: black;
}

/* /landing page */

/* seasonal */

.title-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.container-subheading {
    display: flex;
    justify-content: center;
    position: relative;
}

.img-fluid {
    width: 100vh;
    height: 65vh;
    border-radius: 20px;
}

.icon {
    color: #e82e2e;
    padding: 10px;
}

.season-title {
    padding: 0 0 20px 0;

}

.season-section {
    font-size: 18px;
    padding: 10px;
}

.card-header {
    justify-content: center;
    display: flex;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

button {
    text-decoration: none;
}

.btn-link {
    font-size: 25px;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    text-decoration: none;
    background-color: #ff0000;
    color: #fafafa;
    font-size: 25px;
    border-radius: 5px;
}
/* /seasonal */

/* Info */

.title {
    color: #fafafa;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: red;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

.extra-info {
    color: red;
    margin-top: 100px;
}

.card,
.card-reader {
    background-color: transparent;
    border: none !important;
    padding: 0;
    margin-bottom: 20px;
}

.flag-picture {
    width: 90vh;
    height: 65vh;
    border-radius: 20px;
}

/* /Info */

/* Contact */

.contact-box {
    height: 100%;
    width: 60%;
}

.contact-button {
    background-color: #ff0000;
}

.contact-button:hover, :focus {
    background-color: #fafafa;
    color: #ff0000;
}

/* /Contact */

/* Footer */

.footer {
    background-color: #ff0000;
    color: #fafafa;
    float: right;
}

.footer-contact {
    background-color: #ff0000;
    color: #fafafa;
    float: right;
    position: absolute;
    bottom: 0;
}

/* /footer */

/* Media Queries */

@media only screen and (max-width: 600px) {
  .flag-picture {
    width: 45vh;
    height: 30vh;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 990px) {
  .flag-picture {
    width: 45vh;
    height: 30vh;
    border-radius: 20px;
  }
}

